
# **Python String Replacement in Text Files & Data Frames**
Author: Jaemin Lee (aka. Import Data)

[Import Data YouTube Channel](https://www.youtube.com/channel/UCYDacpfRrCX6_8oDDlzTgFw)

##Simple Text Examples

In [1]:
'Welcome to import data YT channel'.replace('import data', 'Import Data')

'Welcome to Import Data YT channel'

In [3]:
# replacing multiple string values at once
text = 'Welcome to import data YT channel. Please subscribe to this YT channel.'

# initialize string values
a = 'import data' 
b = 'Import Data'
c = 'YT'
d = 'YouTube'

text.replace(a, b).replace(c, d, 1)

'Welcome to Import Data YouTube channel. Please subscribe to this YT channel.'

## Text File Example

In [4]:
# open the input file
input = open("/content/example.txt", "rt")

# initialize the output file
output = open("replaced_text.txt", "wt")

for line in input:
  
  # replace the strings and write to output file
  output.write(line.replace("jaemin", "Jaemin").replace("import data", "Import Data").replace("youtub", "YouTube"))

# close input and output files
input.close()
output.close()

## Data Frame Example

In [5]:
import pandas as pd

df = pd.DataFrame({'states': ['CA', 'NY', 'TX', 'WA', 'OK', 'HI'],
                   'avg_temp': ['hot', 'hot', 'extremely hot', 'mild', 'extremely hot', 'mild']
                  })
df

  states       avg_temp
0     CA            hot
1     NY            hot
2     TX  extremely hot
3     WA           mild
4     OK  extremely hot
5     HI           mild

In [6]:
# convert words to numeric values
new_df = df.replace(['mild', 'hot', 'extremely hot'], [75, 85, 90])
new_df

  states  avg_temp
0     CA        85
1     NY        85
2     TX        90
3     WA        75
4     OK        90
5     HI        75

In [7]:
# save the new dataframe to csv
new_df.to_csv('avg temp by states.csv', index=False)